<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Blue - Dinosaurios</title>
    <link rel="stylesheet" href="/paginaDinos/styles/StyleInicio.css">
    <script src="/paginaDinos/logicaJavascript/tipos.js"></script>
    <link rel="stylesheet" href="/paginaDinos/styles/tiposDEDINOS.css">
</head>
<body>
    <header>
        <h1>El Mundo de Blue <i class="fas fa-meteor"></i></h1>
        <p>Descubre el fascinante mundo de los dinosaurios junto a blue nuestro velociraptor favorito
       y tus paleontologos favoritos mafe y sebb</p>
    </header>

    <nav>
        <ul>
            <li><a href="inicio.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="tiposDinos.html">Tipos de Dinosaurios <i class="fas fa-bone"></i></a></li>
            <li><a href="galeriaDinos.html">Galería <i class="fas fa-camera"></i></a></li>
        </ul>
    </nav>

<main>
    <section id="galeria">
        <h2>Galería de Dinosaurios</h2>
        <div class="gallery">
            <img src="/paginaDinos/galeriaDinos/tiranosaurioREX.jpeg" alt="Tiranosaurio Rex">
            <img src="/paginaDinos/galeriaDinos/velociraptor.jpeg" alt="Velociraptor">
            <img src="/paginaDinos/galeriaDinos/triceraptor.jpeg" alt="Triceratops">
            <img src="/paginaDinos/galeriaDinos/spinosaurio.jpg" alt="spinosaurio">
            <img src="/paginaDinos/galeriaDinos/pterodactilo.jpeg" alt="Pterodáctilo">
        </div>
    </section>
</main>

    <footer>
        <p>&copy; 2024 El Mundo de Blue. Todos los derechos reservados.</p>
    </footer>

   
    <div class="dino-decoration">🦖 <i class="fas fa-paw"></i></div>

    <!-- Añadimos los iconos de Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>
</html>