<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Blue - Tyrannosaurus Rex</title>
    <link rel="stylesheet" href="/paginaDinos/styles/StyleInicio.css">
    <link rel="stylesheet" href="/paginaDinos/styles/dinosIndividuales.css">
</head>
<body>
    <header>
        <h1>El Mundo de Blue <i class="fas fa-meteor"></i></h1>
        <p>Descubre el fascinante mundo de los dinosaurios junto a blue nuestro velociraptor favorito
       y tus paleontologos favoritos mafe y sebb</p>
    </header>

    <nav>
        <ul>
            <li><a href="inicio.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="tiposDinos.html">Tipos de Dinosaurios <i class="fas fa-bone"></i></a></li>
            <li><a href="galeriaDinos.html">Galería <i class="fas fa-camera"></i></a></li>
        </ul>
    </nav>

    <main>
        <h2>Pterodactilo</h2>
        <div class="dino-content">
            <div class="dino-images">
                <img src="/paginaDinos/galeriaDinos/modeloPterodactilo/huevo.jpeg" alt="T-Rex 1" onclick="showLargeImage(this.src)">
                <img src="/paginaDinos/galeriaDinos/modeloPterodactilo/esqueleto.jpeg" alt="T-Rex 3" onclick="showLargeImage(this.src)">
            </div>
            <div class="large-image">
                <img id="largeImage" src="/paginaDinos/galeriaDinos/modeloPterodactilo/huevo.jpeg" >
            </div>
            <div class="dino-info">
                <p>El Pterodáctilo fue un reptil volador que vivió durante el período Jurásico tardío, hace aproximadamente 150 a 148 millones de años. Aunque no era técnicamente un dinosaurio, a menudo se asocia con ellos.</p>
                <p>Características principales:</p>
                <ul>
                    <li>Tenía una envergadura de alas de hasta 1 metro.</li>
                    <li>Su cuerpo estaba cubierto de pelo corto, lo que sugiere que era de sangre caliente.</li>
                    <li>Poseía un pico sin dientes y ojos grandes, lo que indica una buena visión.</li>
                    <li>Sus huesos eran huecos, lo que los hacía ligeros para volar.</li>
                </ul>
                <p>El Pterodáctilo probablemente se alimentaba de peces y otros animales pequeños. Su nombre significa "dedo alado" debido a la estructura de sus alas.</p>
            </div>
        </div>
        </main>

    <footer>
        <p>&copy; 2024 El Mundo de Blue. Todos los derechos reservados.</p>
    </footer>

    <script>
        function showLargeImage(src) {
            document.getElementById('largeImage').src = src;
        }
    </script>

<div class="dino-decoration">🦖 <i class="fas fa-paw"></i></div>

<!-- Añadimos los iconos de Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>
</html>