<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Blue - Dinosaurios</title>
    <link rel="stylesheet" href="/paginaDinos/styles/StyleInicio.css">
    <link rel="stylesheet" href="/paginaDinos/styles/dinosIndividuales.css">
    <script src="/paginaDinos/logicaJavascript/tipos.js"></script>
</head>
<body>
    <header>
        <h1>El Mundo de Blue <i class="fas fa-meteor"></i></h1>
        <p>Descubre el fascinante mundo de los dinosaurios junto a blue nuestro velociraptor favorito
       y tus paleontologos favoritos mafe y sebb</p>
    </header>

    <nav>
        <ul>
            <li><a href="inicio.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="tiposDinos.html">Tipos de Dinosaurios <i class="fas fa-bone"></i></a></li>
            <li><a href="galeriaDinos.html">Galería <i class="fas fa-camera"></i></a></li>
        </ul>
    </nav>

    <main>
        <section id="tipos" class="dino-info">
            <h2>Nuestros Amigos Dinosaurios</h2>
            <ul id="dino-list">
                <!-- La lista de dinosaurios se llenará con JavaScript -->
            </ul>
        </section>
 
</main>

    <footer>
        <p>&copy; 2024 El Mundo de Blue. Todos los derechos reservados.</p>
    </footer>

    <div class="dino-decoration">🦕</div>

    <div class="dino-decoration">🦖 <i class="fas fa-paw"></i></div>

    <!-- Añadimos los iconos de Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>
</html>